---
import Layout from '../../layouts/Layout.astro';
import { CreateOrganization } from '@clerk/astro/components';
import { clerkAppearance } from '../../lib/clerk-theme';
---

<Layout title="Crear Espacio - Cord">
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh; background-color: #09090b; padding: 2rem;">
        <CreateOrganization appearance={clerkAppearance} routing="hash" />
    </div>
</Layout>
