{
  "openapi": "3.1.0",
  "info": {
    "title": "Cord API",
    "version": "2026-10-01",
    "description": "API pública de Cord. Toda respuesta viene en { data }; los errores, en { error, code, request_id, doc_url }. Generada desde src/lib/api-schema.ts."
  },
  "servers": [
    {
      "url": "https://cordhq.app/api/v1"
    }
  ],
  "security": [
    {
      "secretKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "secretKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "sk_live_… o sk_test_…, solo desde tu servidor."
      },
      "publishableKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "pk_live_… o pk_test_…, para el navegador; solo las operaciones marcadas."
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Mensaje legible."
          },
          "code": {
            "type": "string",
            "description": "Código estable para tu lógica."
          },
          "request_id": {
            "type": "string"
          },
          "doc_url": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "code"
        ],
        "additionalProperties": {}
      }
    }
  },
  "paths": {
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Organización y alcance de la llave",
        "tags": [
          "Cuenta"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          }
        ],
        "x-cord-scope": "read",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "org": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Identificador (UUID)."
                            },
                            "nombre": {
                              "type": "string"
                            },
                            "plan": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "nombre",
                            "plan"
                          ],
                          "additionalProperties": {}
                        },
                        "scope": {
                          "type": "string"
                        },
                        "mode": {
                          "type": "string",
                          "enum": [
                            "live",
                            "test"
                          ]
                        }
                      },
                      "required": [
                        "org",
                        "scope",
                        "mode"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/cotizaciones": {
      "get": {
        "operationId": "getCotizaciones",
        "summary": "Listar cotizaciones",
        "tags": [
          "Cotizaciones"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cliente_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-cord-scope": "read",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identificador (UUID)."
                          },
                          "folio": {
                            "type": "string"
                          },
                          "cliente": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number",
                            "description": "Importe en la divisa indicada por `moneda`."
                          },
                          "moneda": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Divisa ISO 4217."
                          },
                          "terminos": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "vigencia": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Fecha ISO 8601."
                          },
                          "creada": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Fecha ISO 8601."
                          },
                          "link_publico": {
                            "type": "string",
                            "description": "Link público absoluto de la cotización."
                          }
                        },
                        "required": [
                          "id",
                          "folio",
                          "cliente",
                          "status",
                          "total",
                          "moneda",
                          "terminos",
                          "vigencia",
                          "creada",
                          "link_publico"
                        ],
                        "additionalProperties": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "limit",
                        "offset",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postCotizaciones",
        "summary": "Crear cotización",
        "tags": [
          "Cotizaciones"
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Reintento seguro: misma clave y mismo cuerpo, mismo resultado (24 h)."
          }
        ],
        "x-cord-scope": "write",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Identificador (UUID)."
                        },
                        "token": {
                          "type": "string"
                        },
                        "folio": {
                          "type": "string"
                        },
                        "link_publico": {
                          "type": "string"
                        },
                        "needs_approval": {
                          "type": "boolean"
                        },
                        "motivo": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "email": {
                          "type": "object",
                          "properties": {
                            "sent": {
                              "type": "boolean"
                            },
                            "skipped": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "sent"
                          ],
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "id",
                        "token",
                        "folio",
                        "link_publico",
                        "needs_approval",
                        "motivo"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "descripcion": {
                          "type": "string"
                        },
                        "cantidad": {
                          "type": "number"
                        },
                        "precio_unitario": {
                          "type": "number"
                        },
                        "precio_negociado": {
                          "type": "number"
                        },
                        "costo_unitario": {
                          "type": "number"
                        },
                        "producto_id": {
                          "type": "string"
                        },
                        "tax_rate": {
                          "description": "Fracción 0–1, validada contra el catálogo de impuestos.",
                          "type": "number"
                        }
                      },
                      "required": [
                        "descripcion",
                        "cantidad",
                        "precio_unitario"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "cliente_id": {
                    "type": "string"
                  },
                  "cliente": {
                    "type": "object",
                    "properties": {
                      "empresa": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "contacto": {
                        "type": "string"
                      },
                      "telefono": {
                        "type": "string"
                      },
                      "rfc": {
                        "type": "string"
                      },
                      "fiscal": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string"
                          },
                          "tax_id": {
                            "type": "string"
                          },
                          "legal_name": {
                            "type": "string"
                          },
                          "regimen_fiscal": {
                            "type": "string"
                          },
                          "uso_cfdi": {
                            "type": "string"
                          },
                          "cp_fiscal": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "country",
                          "tax_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "required": [
                      "empresa"
                    ],
                    "additionalProperties": false
                  },
                  "terminos": {
                    "type": "string",
                    "enum": [
                      "contado",
                      "net30",
                      "net60"
                    ]
                  },
                  "vigencia_dias": {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "notas": {
                    "type": "string"
                  },
                  "base_currency": {
                    "type": "string"
                  },
                  "fiscal_currency": {
                    "type": "string"
                  },
                  "iva_incluido": {
                    "type": "boolean"
                  },
                  "send": {
                    "description": "Solo con Secret Key.",
                    "type": "boolean"
                  }
                },
                "required": [
                  "items"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/cotizaciones/{id}": {
      "get": {
        "operationId": "getCotizacionesById",
        "summary": "Detalle de cotización",
        "tags": [
          "Cotizaciones"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-cord-scope": "read",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Identificador (UUID)."
                        },
                        "folio": {
                          "type": "string"
                        },
                        "cliente": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "status": {
                          "type": "string"
                        },
                        "total": {
                          "type": "number",
                          "description": "Importe en la divisa indicada por `moneda`."
                        },
                        "moneda": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Divisa ISO 4217."
                        },
                        "terminos": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "vigencia": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Fecha ISO 8601."
                        },
                        "creada": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Fecha ISO 8601."
                        },
                        "link_publico": {
                          "type": "string",
                          "description": "Link público absoluto de la cotización."
                        },
                        "notas": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "aprobacion": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "estado": {
                                  "type": "string"
                                },
                                "motivo": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "estado",
                                "motivo"
                              ],
                              "additionalProperties": {}
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "descripcion": {
                                "type": "string"
                              },
                              "cantidad": {
                                "type": "number"
                              },
                              "unidad": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "precio_lista": {
                                "type": "number",
                                "description": "Importe en la divisa indicada por `moneda`."
                              },
                              "precio_negociado": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "description": "Importe en la divisa indicada por `moneda`."
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "descripcion",
                              "cantidad",
                              "unidad",
                              "precio_lista",
                              "precio_negociado"
                            ],
                            "additionalProperties": {}
                          }
                        },
                        "eventos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "tipo": {
                                "type": "string"
                              },
                              "detalle": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "cuando": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "tipo",
                              "detalle",
                              "cuando"
                            ],
                            "additionalProperties": {}
                          }
                        }
                      },
                      "required": [
                        "id",
                        "folio",
                        "cliente",
                        "status",
                        "total",
                        "moneda",
                        "terminos",
                        "vigencia",
                        "creada",
                        "link_publico",
                        "notas",
                        "aprobacion",
                        "items",
                        "eventos"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postCotizacionesById",
        "summary": "Enviar, reenviar, aprobar, rechazar o marcar pagada",
        "tags": [
          "Cotizaciones"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Reintento seguro: misma clave y mismo cuerpo, mismo resultado (24 h)."
          }
        ],
        "x-cord-scope": "write",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "send",
                      "resend",
                      "approve",
                      "reject",
                      "mark_paid"
                    ]
                  },
                  "payment_method": {
                    "type": "string"
                  }
                },
                "required": [
                  "action"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCotizacionesById",
        "summary": "Borrar un borrador",
        "tags": [
          "Cotizaciones"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Reintento seguro: misma clave y mismo cuerpo, mismo resultado (24 h)."
          }
        ],
        "x-cord-scope": "write",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/cotizaciones/ia": {
      "post": {
        "operationId": "postCotizacionesIa",
        "summary": "Proponer líneas a partir del texto de un pedido",
        "tags": [
          "Cotizaciones"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Reintento seguro: misma clave y mismo cuerpo, mismo resultado (24 h)."
          }
        ],
        "x-cord-scope": "write",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {}
                        },
                        "moneda": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "items",
                        "moneda"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "texto": {
                    "type": "string",
                    "maxLength": 6000
                  }
                },
                "required": [
                  "texto"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/clientes": {
      "get": {
        "operationId": "getClientes",
        "summary": "Listar clientes",
        "tags": [
          "Clientes"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-cord-scope": "read",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identificador (UUID)."
                          },
                          "empresa": {
                            "type": "string"
                          },
                          "contacto": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "telefono": {
                            "type": "string"
                          },
                          "rfc": {
                            "type": "string"
                          },
                          "terminos": {
                            "type": "string",
                            "description": "Etiqueta legible de los términos."
                          },
                          "terminosCode": {
                            "type": "string"
                          },
                          "limite": {
                            "type": "number"
                          },
                          "nivel": {
                            "type": "string"
                          },
                          "descuentoPct": {
                            "type": "number"
                          },
                          "regimenFiscal": {
                            "type": "string"
                          },
                          "usoCfdi": {
                            "type": "string"
                          },
                          "cpFiscal": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "empresa",
                          "contacto",
                          "email",
                          "telefono",
                          "rfc",
                          "terminos",
                          "terminosCode",
                          "limite",
                          "nivel",
                          "descuentoPct",
                          "regimenFiscal",
                          "usoCfdi",
                          "cpFiscal",
                          "countryCode"
                        ],
                        "additionalProperties": {},
                        "description": "Forma actual en camelCase; candidata a normalizarse a snake_case en una versión nueva de la API."
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "limit",
                        "offset",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postClientes",
        "summary": "Crear cliente",
        "tags": [
          "Clientes"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Reintento seguro: misma clave y mismo cuerpo, mismo resultado (24 h)."
          }
        ],
        "x-cord-scope": "write",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "empresa": {
                    "type": "string"
                  }
                },
                "required": [
                  "empresa"
                ],
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/clientes/{id}": {
      "get": {
        "operationId": "getClientesById",
        "summary": "Detalle de cliente",
        "tags": [
          "Clientes"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-cord-scope": "read",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Identificador (UUID)."
                        },
                        "empresa": {
                          "type": "string"
                        },
                        "contacto": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "telefono": {
                          "type": "string"
                        },
                        "rfc": {
                          "type": "string"
                        },
                        "terminos": {
                          "type": "string",
                          "description": "Etiqueta legible de los términos."
                        },
                        "terminosCode": {
                          "type": "string"
                        },
                        "limite": {
                          "type": "number"
                        },
                        "nivel": {
                          "type": "string"
                        },
                        "descuentoPct": {
                          "type": "number"
                        },
                        "regimenFiscal": {
                          "type": "string"
                        },
                        "usoCfdi": {
                          "type": "string"
                        },
                        "cpFiscal": {
                          "type": "string"
                        },
                        "countryCode": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "empresa",
                        "contacto",
                        "email",
                        "telefono",
                        "rfc",
                        "terminos",
                        "terminosCode",
                        "limite",
                        "nivel",
                        "descuentoPct",
                        "regimenFiscal",
                        "usoCfdi",
                        "cpFiscal",
                        "countryCode"
                      ],
                      "additionalProperties": {},
                      "description": "Forma actual en camelCase; candidata a normalizarse a snake_case en una versión nueva de la API."
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchClientesById",
        "summary": "Actualizar datos de contacto",
        "tags": [
          "Clientes"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Reintento seguro: misma clave y mismo cuerpo, mismo resultado (24 h)."
          }
        ],
        "x-cord-scope": "write",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/productos": {
      "get": {
        "operationId": "getProductos",
        "summary": "Listar productos",
        "tags": [
          "Productos"
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          }
        ],
        "x-cord-scope": "read",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identificador (UUID)."
                          },
                          "sku": {
                            "type": "string"
                          },
                          "nombre": {
                            "type": "string"
                          },
                          "unidad": {
                            "type": "string"
                          },
                          "descripcion": {
                            "type": "string"
                          },
                          "precio": {
                            "type": "number",
                            "description": "Importe en la divisa indicada por `moneda`."
                          },
                          "costo": {
                            "description": "Nunca se expone a una llave publicable.",
                            "type": "number"
                          },
                          "activo": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Fecha ISO 8601."
                          },
                          "preciosVolumen": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "min": {
                                  "type": "number"
                                },
                                "precio": {
                                  "type": "number",
                                  "description": "Importe en la divisa indicada por `moneda`."
                                }
                              },
                              "required": [
                                "min",
                                "precio"
                              ],
                              "additionalProperties": {}
                            }
                          },
                          "existencias": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "sku",
                          "nombre",
                          "unidad",
                          "descripcion",
                          "precio",
                          "activo",
                          "createdAt",
                          "preciosVolumen",
                          "existencias"
                        ],
                        "additionalProperties": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "limit",
                        "offset",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postProductos",
        "summary": "Crear producto",
        "tags": [
          "Productos"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Reintento seguro: misma clave y mismo cuerpo, mismo resultado (24 h)."
          }
        ],
        "x-cord-scope": "write",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string"
                  }
                },
                "required": [
                  "nombre"
                ],
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/facturas": {
      "get": {
        "operationId": "getFacturas",
        "summary": "Listar facturas",
        "tags": [
          "Facturas"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cliente",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-cord-scope": "read",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identificador (UUID)."
                          },
                          "numero": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "folio_fiscal": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "cliente": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "estado": {
                            "type": "string"
                          },
                          "estado_fiscal": {
                            "type": "string"
                          },
                          "pais": {
                            "type": "string"
                          },
                          "tipo": {
                            "type": "string"
                          },
                          "moneda": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Divisa ISO 4217."
                          },
                          "total": {
                            "type": "number",
                            "description": "Importe en la divisa indicada por `moneda`."
                          },
                          "pagado": {
                            "type": "number",
                            "description": "Importe en la divisa indicada por `moneda`."
                          },
                          "saldo": {
                            "type": "number",
                            "description": "Importe en la divisa indicada por `moneda`."
                          },
                          "vence": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Fecha ISO 8601."
                          },
                          "vencida": {
                            "type": "boolean"
                          },
                          "cotizacion_id": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "creada": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Fecha ISO 8601."
                          }
                        },
                        "required": [
                          "id",
                          "numero",
                          "folio_fiscal",
                          "cliente",
                          "estado",
                          "estado_fiscal",
                          "pais",
                          "tipo",
                          "moneda",
                          "total",
                          "pagado",
                          "saldo",
                          "vence",
                          "vencida",
                          "cotizacion_id",
                          "creada"
                        ],
                        "additionalProperties": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "next_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "next_cursor"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postFacturas",
        "summary": "Crear factura en borrador",
        "tags": [
          "Facturas"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Reintento seguro: misma clave y mismo cuerpo, mismo resultado (24 h)."
          }
        ],
        "x-cord-scope": "write",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Llave ausente, inválida o revocada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Sin permiso para esta operación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Límite de peticiones; respeta Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cliente_id": {
                    "type": "string"
                  },
                  "items": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "descripcion": {
                          "type": "string"
                        },
                        "cantidad": {
                          "type": "number"
                        },
                        "precio_unitario": {
                          "type": "number"
                        },
                        "precio_negociado": {
                          "type": "number"
                        },
                        "costo_unitario": {
                          "type": "number"
                        },
                        "producto_id": {
                          "type": "string"
                        },
                        "tax_rate": {
                          "description": "Fracción 0–1, validada contra el catálogo de impuestos.",
                          "type": "number"
                        }
                      },
                      "required": [
                        "descripcion",
                        "cantidad",
                        "precio_unitario"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "currency": {
                    "type": "string"
                  },
                  "due_date": {
                    "type": "string"
                  },
                  "notas": {
                    "type": "string"
                  }
                },
                "required": [
                  "cliente_id",
                  "items"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/facturas/{id}": {
      "get": {
        "operationId": "getFacturasById",
        "summary": "Detalle de factura",
        "tags": [
          "Facturas"
        ],
        "security": [
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "Cord-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2026-10-01"
              ]
            },
            "description": "Default: la versión fijada de tu llave."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-cord-scope": "read",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cord-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador de la petición; inclúyelo al pedir soporte."
              },
              "Cord-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Versión de la API con la que se respondió."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Identificador (UUID)."
                        },
                        "numero": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "folio_fiscal": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "cliente": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "estado": {
                          "type": "string"
                        },
                        "estado_fiscal": {
                          "type": "string"
                        },
                        "pais": {
                          "type": "string"
                        },
                        "tipo": {
                          "type": "string"
                        },
                        "moneda": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Divisa ISO 4217."
                        },
                        "total": {
                          "type": "number",
                          "description": "Importe en la divisa indicada por `moneda`."
                        },
                        "pagado": {
                          "type": "number",
                          "description": "Importe en la divisa indicada por `moneda`."
                        },
                        "saldo": {
                          "type": "number",
                          "description": "Importe en la divisa indicada por `moneda`."
                        },
                        "vence": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Fecha ISO 8601."
                        },
                        "vencida": {
                          "type": "boolean"
                        },
                        "cotizacion_id": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "creada": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Fecha ISO 8601."
                        },
                        "subtotal": {
                          "type": "number",
                          "description": "Importe en la divisa indicada por `moneda`."
                        },
                        "impuestos": {
                          "type": "number",
                          "description": "Importe en la divisa indicada por `moneda`."
                        },
                        "moneda_contable": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Divisa ISO 4217."
                        },
                        "tipo_cambio": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "total_contable": {
                          "anyOf": [
                            {
                              "type": "number",
                              "description": "Importe en la divisa indicada por `moneda`."
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "notas": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "nota_credito_de": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
[...]
