openapi: 3.0.3
info:
  title: Flouvia Cord B2B API
  description: API REST oficial para automatizar cotizaciones, clientes y productos.
  version: "1.0.0"
servers:
  - url: https://cordhq.app/api/v1
    description: Servidor de Producción
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Usa tu llave secreta (sk_test_... o sk_live_...) obtenida en la pestaña Ajustes > API.
security:
  - bearerAuth: []
paths:
  /cotizaciones:
    get:
      summary: Listar cotizaciones
      description: Devuelve las cotizaciones de la organización de forma paginada.
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [draft, sent, approved, paid, rejected]
          description: Filtrar por estado.
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Lista de cotizaciones con metadatos de paginación.
    post:
      summary: Crear cotización
      description: Crea una cotización nueva. Requiere alcance de escritura (write).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                send:
                  type: boolean
                  description: Si es true, se aprueba automáticamente (si no rompe topes) y se genera el enlace de envío.
                notas:
                  type: string
                  description: Texto interno o mensaje.
                cliente_id:
                  type: string
                  description: UUID de un cliente previamente creado.
                terminos:
                  type: string
                  enum: [contado, net30, net60]
                vigencia_dias:
                  type: integer
                  default: 30
                base_currency:
                  type: string
                  default: MXN
                fiscal_currency:
                  type: string
                  default: MXN
                iva_incluido:
                  type: boolean
                  default: false
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                      - descripcion
                      - cantidad
                      - precio_unitario
                    properties:
                      descripcion:
                        type: string
                      cantidad:
                        type: number
                      precio_unitario:
                        type: number
                      producto_id:
                        type: string
      responses:
        '200':
          description: Cotización creada correctamente.
  /clientes:
    get:
      summary: Listar clientes
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Directorio de clientes.
    post:
      summary: Crear cliente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - empresa
              properties:
                empresa:
                  type: string
                contacto:
                  type: string
                email:
                  type: string
                telefono:
                  type: string
                rfc:
                  type: string
                terminos:
                  type: string
                  enum: [contado, net30, net60]
                limite:
                  type: number
                nivel:
                  type: string
                  enum: [estandar, plata, oro, distribuidor]
                descuento_pct:
                  type: number
      responses:
        '200':
          description: Cliente creado exitosamente.
  /productos:
    get:
      summary: Listar productos
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Catálogo de productos.
    post:
      summary: Crear producto
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nombre
              properties:
                nombre:
                  type: string
                sku:
                  type: string
                unidad:
                  type: string
                  default: pieza
                precio:
                  type: number
                activo:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Producto creado.
  /facturas:
    get:
      summary: Listar facturas
      description: >
        Devuelve las facturas de la organización con su saldo. Pagina por
        CURSOR, no por offset: si `meta.next_cursor` viene con valor, repite la
        llamada con `?cursor=` para la siguiente página.
      parameters:
        - in: query
          name: estado
          schema:
            type: string
            enum: [draft, open, paid, void, uncollectible, overdue]
          description: >
            Estado COMERCIAL de la factura. `overdue` no es un estado guardado:
            es `open` con vencimiento pasado.
        - in: query
          name: cliente
          schema:
            type: string
            format: uuid
        - in: query
          name: q
          schema:
            type: string
          description: Folio, UUID fiscal o nombre del cliente.
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
            maximum: 200
        - in: query
          name: cursor
          schema:
            type: string
      responses:
        '200':
          description: Lista de facturas con `meta.next_cursor`.
    post:
      summary: Crear factura (borrador)
      description: >
        Crea una factura en borrador. NO la timbra ni consume el medidor: eso
        ocurre al emitirla con la acción `finalize`. Requiere alcance de
        escritura (write) y el plan Starter o superior.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cliente_id, items]
              properties:
                cliente_id:
                  type: string
                  format: uuid
                currency:
                  type: string
                  description: >
                    Divisa de la VENTA (ISO 4217). Por defecto la divisa contable
                    del negocio. Si difiere, la factura declara el tipo de cambio.
                due_date:
                  type: string
                  format: date
                notas:
                  type: string
                items:
                  type: array
                  items:
                    type: object
                    required: [descripcion, cantidad, precio_unitario]
                    properties:
                      descripcion:
                        type: string
                      cantidad:
                        type: number
                      precio_unitario:
                        type: number
      responses:
        '200':
          description: Borrador creado.
        '402':
          description: El plan no incluye Cord Invoicing.
        '503':
          description: >
            No se pudo obtener un tipo de cambio real. La factura NO se crea con
            una tasa inventada; reintenta.
  /facturas/{id}:
    get:
      summary: Detalle de factura
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Factura con conceptos, emisor, receptor, saldo y pagos.
        '404':
          description: No encontrada.
    post:
      summary: Acción sobre una factura
      description: >
        `finalize` reserva folio y timbra (irreversible, consume medidor).
        `send` manda la factura al cliente con su PDF y su link de pago.
        `payment` registra un pago manual contra el saldo.
        `void` cancela ante el proveedor fiscal.
        `credit_note` crea la nota de crédito, que es el camino correcto cuando
        la factura ya tiene pagos aplicados.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [finalize, send, payment, void, credit_note]
                monto:
                  type: number
                  description: Solo para `payment` y `credit_note` parcial.
                moneda:
                  type: string
                  description: >
                    Solo para `payment`. Debe coincidir con la divisa de la
                    factura; un pago en otra divisa se rechaza en vez de
                    convertirse con una tasa inventada.
                metodo:
                  type: string
                referencia:
                  type: string
                motivo:
                  type: string
      responses:
        '200':
          description: Acción aplicada.
        '409':
          description: >
            El estado de la factura no admite la acción. Al intentar `void`
            sobre una factura con pagos, `code` es `credit_note_required`.
        '502':
          description: El proveedor fiscal rechazó la emisión.
